#Wascana specific configuration file for SBS

#cmake and sbs platform configurations
ENV_NAME = Visual-Studio-8
TARGET_ENV = Visual Studio 8 2005
MAKE_PROGRAM = 
C_COMPILER = 
CPP_COMPILER = 

#default paths
DEFAULT_SHARED_LIB_COMPILE_NAME = ${LIB_NAME}
DEFAULT_SHARED_LIB_FULL_NAME = ${LIB_NAME}.dll
DEFAULT_STATIC_LIB_COMPILE_NAME = ${LIB_NAME}
DEFAULT_STATIC_LIB_FULL_NAME = ${LIB_NAME}.lib
DEFAULT_EXE_FULL_NAME = ${EXE_NAME}.exe

#launch executable (run and test command)
LAUNCH_COMMAND = ${EXE_NAME}.exe
