#Wascana specific configuration file for SBS

#cmake and sbs platform configurations
ENV_NAME = Linux
TARGET_ENV = Unix Makefiles
MAKE_PROGRAM = 
C_COMPILER = 
CPP_COMPILER = 

#default paths
DEFAULT_INCLUDE_PATH = /usr/include
DEFAULT_LIB_PATH = /usr/lib

#lib and exe name
DEFAULT_SHARED_LIB_COMPILE_NAME = ${LIB_NAME}
DEFAULT_SHARED_LIB_FULL_NAME = lib${LIB_NAME}.so
DEFAULT_STATIC_LIB_COMPILE_NAME = ${LIB_NAME}
DEFAULT_STATIC_LIB_FULL_NAME = lib${LIB_NAME}.a
DEFAULT_EXE_FULL_NAME = ${EXE_NAME}

#build command
COMPILE_COMMAND = make -j 2 all

#launch executable (run and test command)
LAUNCH_COMMAND = ./${EXE_NAME}.${EXE_VERSION}

