#Mingw specific configuration file for SBS

MINGW_ROOT = C:/Qt/qtcreator-2.2.1/mingw/bin

#cmake and sbs platform configurations
ENV_NAME = MingW
TARGET_ENV = MinGW Makefiles
MAKE_PROGRAM = ${MINGW_ROOT}/mingw32-make.exe
C_COMPILER = ${MINGW_ROOT}/gcc.exe
CPP_COMPILER = ${MINGW_ROOT}/g++.exe
RC_COMPILER = ${MINGW_ROOT}/windres.exe

CMAKE_ADD_VAR_SET = { \
	"CMAKE_EXE_LINKER_FLAGS":"-enable-auto-import"}

#default paths
DEFAULT_SHARED_LIB_COMPILE_NAME = ${LIB_NAME}
DEFAULT_SHARED_LIB_FULL_NAME = lib${LIB_NAME}.dll
DEFAULT_STATIC_LIB_COMPILE_NAME = ${LIB_NAME}
DEFAULT_STATIC_LIB_FULL_NAME = lib${LIB_NAME}.a
DEFAULT_EXE_FULL_NAME = ${EXE_NAME}.exe

#build command
COMPILE_COMMAND = ${MINGW_ROOT}/mingw32-make all

#launch executable (run and test command)
LAUNCH_COMMAND = ${EXE_NAME}.exe