#Wascana specific configuration file for SBS

WASCANA_ROOT = C:/Wascana

#cmake and sbs platform configurations
ENV_NAME = MingW
TARGET_ENV = Eclipse CDT4 - Unix Makefiles
MAKE_PROGRAM = ${WASCANA_ROOT}/msys/bin/make.exe
C_COMPILER = ${WASCANA_ROOT}/mingw/bin/gcc.exe
CPP_COMPILER = ${WASCANA_ROOT}/mingw/bin/g++.exe
RC_COMPILER = ${WASCANA_ROOT}/mingw/bin/windres.exe

#default paths
DEFAULT_SHARED_LIB_COMPILE_NAME = ${LIB_NAME}
DEFAULT_SHARED_LIB_FULL_NAME = lib${LIB_NAME}.dll
DEFAULT_STATIC_LIB_COMPILE_NAME = ${LIB_NAME}
DEFAULT_STATIC_LIB_FULL_NAME = lib${LIB_NAME}.a
DEFAULT_EXE_FULL_NAME = ${EXE_NAME}.exe

#build command
COMPILE_COMMAND = ${WASCANA_ROOT}/msys/bin/make all

#launch executable (run and test command)
LAUNCH_COMMAND = ${EXE_NAME}.exe.${EXE_VERSION}