
class : $class
#macro( display $steps )
    #foreach( $step in $steps )
        #set( $kind = $step.getStepKind() )
        #set( $value = $step.getStepValue() )
        #set( $method = $step.getMethodName() )
        #set( $return = $step.getReturnType() )
        {$kind, $value, $method, $return}
        ##if($kind == $kindmap.child)
        ##    {$kind, }
        ##elseif($kind == $kindmap.text)
        ##    {$kind, ,}
        ##end
        #display( $step.getChildSteps() )
    #end
#end
#display($steps)


