##
##main macro
##
#macro( writeAll $steps )
    #header()
    #write($steps)
    #footer()
#end

#macro( header )
package ${package};
import org.jdom.Element;

public class ${simpleclass}XmlReader{
#end

#macro( footer )
}
#end


##
##main recursion
##
#macro( write $steps )
    #foreach( $step in $steps )
        #set( $kind = $step.getStepKind() )
        #set( $value = $step.getStepValue() )
        #set( $method = $step.getMethodName() )
        #set( $return = $step.getReturnType() )
        #write( $step.getChildSteps() )
    #end
#end

##
##main call
##
$indentutil.javaCode("#writeAll($steps)")

##if($kind == $kindmap.child)
##    {$kind, }
##elseif($kind == $kindmap.text)
##    {$kind, ,}
##end


