##
##main macro
##
#macro( writeAll $steps )
    #header()
    #foreach( $step in $steps )
        #set( $kind = $step.getStepKind() )
        #set( $start = $step.getStartKind() )
        #if($kind == $kindmap.start)
            #if($start == $startmap.relative)
                #write( $step.getChildSteps(), "rootElement" )
            #else
                //Unsupported absolute start type
            #end
        #else
            //Unknown start type
        #end
    #end
    #footer()
#end
#macro( header )
package ${package};

public class ${simpleclass}XmlReader extends com.thoratou.exact.bom.XmlReader<${simpleclass}> {
    #writeBomReaders()

    @SuppressWarnings("unchecked")
    public void read(${class} bom, org.jdom.Element rootElement)
        throws com.thoratou.exact.exception.ExactReadException
    {
#end
#macro( footer )
    }
}
#end
#set( $fieldPackage = "com.thoratou.exact.fields" )
##
##main recursion
##
#macro( write $steps , $parentElement )
    #foreach( $step in $steps )
        #set( $kind = $step.getStepKind() )
        #set( $value = $step.getStepValue() )
        #set( $method = $step.getMethodName() )
        #set( $return = $step.getReturnType() )
        #if($kind == $kindmap.child)
            #set( $childList = $processingutil.generateNewChildListName() )
            #set( $element = $processingutil.generateNewElementName() )
            java.util.List<org.jdom.Element> $childList = $parentElement .getChildren("$value");
            for(org.jdom.Element $element : $childList)
            {
                #write( $step.getChildSteps(), $element )
            }
        #elseif($kind == $kindmap.text)
            #if($step.getReturnTypeKind() == $typemap.field)
                #set( $text = $processingutil.generateNewTextName() )
                String $text = $parentElement .getTextTrim();
                checkBasicField( bom.${method}(), $text );
                bom.${method}().set($text);
            #elseif($step.getReturnTypeKind() == $typemap.list)
                #set( $text = $processingutil.generateNewTextName() )
                String $text = $parentElement .getTextTrim();
                bom.${method}().allocate().set($text);
            #end
        #elseif($kind == $kindmap.attribute)
            #if($step.getReturnTypeKind() == $typemap.field)
                #set( $attr = $processingutil.generateNewAttributeName() )
                String $attr = $parentElement .getAttributeValue("$value");
                bom.${method}().set($attr);
            #elseif($step.getReturnTypeKind() == $typemap.list)
                #set( $attr = $processingutil.generateNewAttributeName() )
                String $attr = $parentElement .getAttributeValue("$value");
                bom.${method}().allocate().set($attr);
            #end
        #elseif($kind == $kindmap.bom)
            #if($step.getReturnTypeKind() == $typemap.bom)
                #set( $bomName = $processingutil.generateVariableNameFromClassName($return) )
                ${bomName}XmlReader .read(bom.${method}(), $parentElement);
            #elseif($step.getReturnTypeKind() == $typemap.list)
                #if($step.getReturnListTypeKind() == $listtypemap.bom)
                    #set( $return = $step.getReturnListType() )
                    #set( $bomName = $processingutil.generateVariableNameFromClassName($return) )
                    ${bomName}XmlReader .read(bom.${method}().allocate(), $parentElement);
                #end
            #end
        #end
    #end
#end
##
#macro( writeBomReaders )
    #foreach( $bom in $bomlist )
        #set( $bomName = $processingutil.generateVariableNameFromClassName($bom) )
        ${bom}XmlReader ${bomName}XmlReader = new ${bom}XmlReader();
    #end
#end
##
##main call
##
$indentutil.javaCode("#writeAll($steps)")
