##
##main macro
##

#macro( writeAll $steps )
    #header()
    #foreach( $step in $steps )
        #set( $kind = $step.getStepKind() )
        #set( $start = $step.getStartKind() )
        #if($kind == $kindmap.start)
            #if($start == $startmap.relative)
                #write( $step.getChildSteps(), "rootElement", false )
            #else
                //Unsupported absolute start type
            #end
        #else
            //Unknown start type
        #end
    #end
    #footer()
#end
#macro( header )
package ${package};

public class ${simpleclass}XmlReader extends com.thoratou.exact.bom.XmlReader<${simpleclass}> {
    #writeBomReaders()

    @SuppressWarnings("unchecked")
    public void read(${class} bom, final org.jdom.Element rootElement)
        throws com.thoratou.exact.exception.ExactReadException
    {
#end
#macro( footer )
    }
}
#end
#set( $fieldPackage = "com.thoratou.exact.fields" )
##
##main recursion
##
#macro( write $steps , $parentElement , $isFilterMode )
    #foreach( $step in $steps )
        /*$step*/
        #set( $kind = $step.getStepKind() )
        #set( $value = $step.getStepValue() )
        #set( $method = $step.getMethodName() )
        #set( $return = $step.getReturnType() )
        #if($kind == $kindmap.child)
            #set( $childList = $processingutil.generateNewChildListName() )
            #set( $element = $processingutil.generateNewElementName() )
            final java.util.List<org.jdom.Element> $childList = $parentElement .getChildren("$value");
            for(final org.jdom.Element $element : $childList)
            {
                #write( $step.getChildSteps(), $element, $isFilterMode )
            }
        #elseif($kind == $kindmap.text)
            #if($step.getReturnTypeKind() == $typemap.field)
                #set( $text = $processingutil.generateNewTextName() )
                String $text = $parentElement .getTextTrim();
                checkBasicField( bom.${method}(), $text );
                bom.${method}().set($text);
            #elseif($step.getReturnTypeKind() == $typemap.list)
                #set( $text = $processingutil.generateNewTextName() )
                String $text = $parentElement .getTextTrim();
                bom.${method}().allocate().set($text);
            #end
        #elseif($kind == $kindmap.attribute)
            #if($step.getReturnTypeKind() == $typemap.field)
                #set( $attr = $processingutil.generateNewAttributeName() )
                String $attr = $parentElement .getAttributeValue("$value");
                #if( !$isFilterMode )
                    bom.${method}().set($attr);
                #else
                    $return filter = new $return();
                    filter.set($attr);
                    setFilter(filter);
                #end
            #elseif($step.getReturnTypeKind() == $typemap.list)
                #set( $attr = $processingutil.generateNewAttributeName() )
                String $attr = $parentElement .getAttributeValue("$value");
                bom.${method}().allocate().set($attr);
            #end
        #elseif($kind == $kindmap.bom)
            #if($step.getReturnTypeKind() == $typemap.bom)
                #set( $bomName = $processingutil.generateVariableNameFromClassName($return) )
                #if( !$isFilterMode )
                    ${bomName}XmlReader .read(bom.${method}(), $parentElement);
                #else
                    $return filter = new $return();
                    ${bomName}XmlReader .read(filter, $parentElement);
                    setFilter(filter);
                #end
            #elseif($step.getReturnTypeKind() == $typemap.list)
                #if($step.getReturnListTypeKind() == $listtypemap.bom)
                    #set( $return = $step.getReturnListType() )
                    #set( $bomName = $processingutil.generateVariableNameFromClassName($return) )
                    ${bomName}XmlReader .read(bom.${method}().allocate(), $parentElement);
                #end
            #end
        #elseif($kind == $kindmap.extension)
            #set( $extensionName = $processingutil.generateVariableNameFromClassName($step.getExtensionName()) )
            ${extensionName}XmlReader .read(bom.${method}(), $parentElement);
            ##TODO other filter types
        #end
    #end
#end
##
#macro( writeBomReaders )
    #foreach( $bom in $bomlist )
        #set( $bomName = $processingutil.generateVariableNameFromClassName($bom) )
        private ${bom}XmlReader ${bomName}XmlReader = new ${bom}XmlReader();
    #end


    #foreach( $extension in $extensionlist )
        #set( $extensionName = $processingutil.generateVariableNameFromClassName($extension) )
        /*$extension => $extensionmap.get($extension)*/
        #set( $step = $extensionmap.get($extension).getExtensionStep() )
        #set( $return = $step.getReturnType() )
        #if($step.getReturnTypeKind() == $typemap.list)
            #set( $return = $step.getReturnListType() )
        #end
        public com.thoratou.exact.bom.XmlExtensionReader<$return>
            ${extensionName}XmlReader =
                new com.thoratou.exact.bom.XmlExtensionReader<$return>()
                {
                    /*$step*/
                    public void readFilter(final org.jdom.Element rootElement)
                        throws com.thoratou.exact.exception.ExactReadException
                    {
                        #write( $step.getChildSteps(), "rootElement", true )
                    }
                };
    #end

    public ${simpleclass}XmlReader(){
        super();
        #foreach( $bom in $bomlist )
            #set( $bomName = $processingutil.generateVariableNameFromClassName($bom) )
            registerStreamer("${bom}", ${bomName}XmlReader);
        #end
    }

#end
##
##main call
##
$indentutil.javaCode("#writeAll($steps)")
